body {
    text-align: center;
    background-color: rgb(219, 219, 219);
    font-family: 'Amatic SC', cursive;
}

h1 {
    color: rgb(0, 0, 0);
    font-family: 'Press Start 2P', cursive;
    font-size: 100px;
}

table {
    border: solid black;
    cursor: pointer;
    font-family: 'Press Start 2P', cursive;
}

.cell{
    background-color: grey;
    text-align: center;
    color: black;
    border-color: black;
    width: 70px;
    height: 70px;
    font-size: 40px;
}

.container{
    display: table;
    margin: 50px auto;
}

.cell:hover{
    background-color: rgb(70, 70, 70);
}
p{
    font-size: 30px;
    font-weight: 600;
}
/* font-family: 'Amatic SC', cursive;
font-family: 'Press Start 2P', cursive; */